<div id="hero" class="section-hero">
    <div class="hero-box">
        <h1 style="color: white">Good Feelings</h1>
        <a href="#" class="btn">Shop Now</a>
    </div>
    <div class="hero-box hero-box2">
        <h1 style="color: white">Spring-Summer</h1>
    </div>
</div>

<div id="feature" class="section-p1">
    <div class="fe-box">
        <img src="img/features/f1.png" alt="Loading..." />
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f2.png" alt="Loading..." />
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f3.png" alt="Loading..." />
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f4.png" alt="Loading..." />
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f5.png" alt="Loading..." />
        <h6>24/7 Support</h6>
    </div>
</div>

<div id="product" class="section-p">
    <h2>Featured Products</h2>
    <div class="product-container">
        <% topRated.forEach(product => { %>
        <a href="/products/<%= product._id %>">
            <div class="pro">
                <img src="<%= product.image %>" alt="Loading..." />
                <div class="des">
                    <span><%= product.brand %></span>
                    <h5><%= product.name %></h5>
                    <div class="star">
                        <% for (let i = 0; i < 5; i++) { %>
                            <% if (i < product.rating) { %>
                                <i class="fas fa-star"></i>
                            <% } else { %>
                                <i class="far fa-star"></i>
                            <% } %>
                        <% } %>
                    </div>
                    <h4>$<%= product.price %></h4>
                </div>
                <div class="cart">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </a>
        <% }) %>
    </div>
</div>


<div id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Upto <span>70% Off</span> - All T-Shirts and Accessories</h2>
    <button class="normal">Explore More</button>
</div>

<div id="new-arrivals" class="section-p1">
    <h2>New Arrivals</h2>
    <div class="product-container">
        <% newArrivals.forEach(product => { %>
        <a href="/products/<%= product._id %>">
            <div class="pro">
                <img src="<%= product.image %>" alt="Loading..." />
                <div class="des">
                    <span><%= product.brand %></span>
                    <h5><%= product.name %></h5>
                    <div class="star">
                        <% for (let i = 0; i < 5; i++) { %> <% if (i <
                        product.rating) { %>
                        <i class="fas fa-star"></i>
                        <% } else { %>
                        <i class="far fa-star"></i>
                        <% } %> <% } %>
                    </div>
                    <h4>$<%= product.price %></h4>
                </div>
                <div class="cart">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </a>
        <% }) %>
    </div>
</div>

<div id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>Buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cera</span>
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>spring/summer</h4>
        <h2>upcomming season</h2>
        <span>The best classic dress is on sale at cera</span>
        <button class="white">Collection</button>
    </div>
</div>

<div id="banner3">
    <div class="banner-box">
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>NEW FOOTWEAR COLLLECTION</h2>
        <h3>Spring / Summer 2025</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>T-SHIRTS</h2>
        <h3>New Trendy Prints</h3>
    </div>
</div>
